Repository akhilesharora/serdeval: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, privacy-check

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: mixed-line-ending
        args: ['--fix=lf']

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-vet
      - id: go-imports
      - id: go-cyclo
        args: [-over=15]
      - id: go-mod-tidy
      - id: go-unit-tests
      - id: golangci-lint

  - repo: local
    hooks:
      - id: go-no-replacement
        name: Check for go.mod replacements
        entry: bash -c 'grep -n "^replace" go.mod && exit 1 || exit 0'
        language: system
        files: 'go.mod$'
        
      - id: privacy-check
        name: Check for privacy violations
        entry: bash -c 'grep -r "log\." --include="*.go" . | grep -v "_test.go" && echo "Found logging statements - remove for privacy" && exit 1 || exit 0'
        language: system
        files: '\.go$'

Fix Codecov action deprecation warning
  .github/workflows/ci.yml
Due: none

Simplify privacy messaging in README
  README.md
Due: none

feat: add support for 10 new data formats
  README.md
  go.mod
  go.sum
  pkg/validator/validator.go
  pkg/validator/validator_test.go
  web/static/index.html
Due: go-no-replacement, privacy-check

fix: address golangci-lint nlreturn issue
  pkg/validator/validator.go
Due: privacy-check

refactor: reduce cyclomatic complexity to satisfy golangci-lint
  pkg/validator/validator.go
Due: privacy-check

docs: add comprehensive usage examples for all validator types
  README.md
Due: none

feat: improve auto-detection for all supported formats
  pkg/validator/validator.go
  pkg/validator/validator_test.go
Due: privacy-check

refactor: reduce cyclomatic and cognitive complexity in format detection
  .golangci.yml
  pkg/validator/validator.go
Due: privacy-check

test: improve coverage for helper functions to 96.8%
  .golangci.yml
  pkg/validator/validator_test.go
Due: privacy-check

fix: remove unnecessary parallel detection function
  pkg/validator/validator.go
  pkg/validator/validator_test.go
Due: privacy-check

docs: add comprehensive godoc documentation for all exported APIs
  pkg/validator/doc.go
  pkg/validator/validator.go
Due: privacy-check

refactor: move validator package to root for better discoverability
  cmd/serdeval/main.go
  doc.go
  example/comprehensive_example.go
  validator.go
  validator_test.go
Due: privacy-check

fix: update CI workflow and add golangci-lint to pre-commit hook
  .githooks/pre-commit
  .github/workflows/ci.yml
Due: none

Add R and R Markdown validation support
  validator.go
  web/static/ads.txt
  web/static/index.html
Due: privacy-check
